.btn {
  border: none;
  cursor: pointer;
  padding: 10px;
  &.btn-blue {
    color: $color-white;
    background: $color-blue;
    transition: 0.3s;
    &:hover {
      background-color: rgba($color-blue, 0.8);
      transform: scale(1.05);
    }
  }
  &.btn-black {
    color: $color-white;
    background: $color-black;
    transition: 0.3s;
    padding: 0 20px;
    height: 41px;
    &:hover {
      background-color: rgba($color-black, 0.8);
      transform: scale(1.05);
    }
  }
}
