.content-form {
  background-color: $color-black-titles;
  height: auto;
  width: 100%;
  margin: 0;
  @include responsive(phablet) {
    height: 80vh;
  }
  form {
    padding: 15px 10%;
    margin: 0;
    h4 {
      color: $color-white;
      text-align: center;
      font-size: 1.25em;
      padding-bottom: 30px;
    }
    input {
      width: 100%;
      border: none;
      padding: 12px;
      margin: 5px 0;
      outline: none;
      border: 3px $color-black-titles solid;
      transition: 0.5s;
      &:focus {
        border: 3px $color-blue solid;
        border-radius: 8px;
      }
    }
    .content-btn {
      margin: 15px 0 5px 0;
    }
    @include responsive(phablet) {
      padding: 0 10%;
    }
  }
}

.form-red-section {
  padding: $padding;
  form {
    padding: $padding;
    margin: 0;
    input {
      width: 100%;
      border: none;
      padding: 10px;
      outline: none;
      border: 3px $color-red solid;
      transition: 0.5s;
      &:focus {
        border: 3px $color-white solid;
      }
    }
    .content-btn {
      margin: 15px 0 5px 0;
    }
    @include responsive(phablet) {
      padding: 0 10%;
    }
  }
}


/*
* Validations
*/

.contact-form{
  .has-error{
    display: none;
    color: $color-white;
    font-size: 0.8em;
  }
  input:invalid {
    border: 3px #E41F26 solid;
  }
  input:invalid ~ label{
    display: block;
  }
  &.form-red-section{
    input:invalid {
      border: 3px $color-black-titles solid;
    }
  }
  .success{
    color: $color-blue;
    display: none;
  }
  .error{
    color: $color-red;
    display: none;
  }
}