.content-form {
  background-color: $color-black-titles;
  height: auto;
  width: 100%;
  margin: 0;
  @include responsive(phablet) {
    height: 80vh;
  }
  form {
    padding: 15px 10%;
    margin: 0;
    h4 {
      color: $color-white;
      text-align: center;
      font-size: 1.25em;
      padding-bottom: 30px;
    }
    input {
      width: 100%;
      border: none;
      padding: 12px;
      margin: 5px 0;
      outline: none;
      border: 2px $color-black solid;
      transition: 0.5s;
      &:focus {
        border: 2px $color-blue solid;
      }
    }
    .content-btn {
      margin: 15px 0 5px 0;
    }
    @include responsive(phablet) {
      padding: 0 10%;
    }
  }
}
