.banner {
  background: url(../images/banner.png) center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-bottom: 30px;
  @include responsive(phablet) {
    height: 80vh;
  }
  .content-banner {
    height: 100vh;
    margin: 0;
    @include responsive(phablet) {
      height: 80vh;
    }
  }
  .description-banner {
    padding: 15px;
    .scroll-down {
      margin: $padding 0;
      animation: 2.5s jump infinite linear;
    }
    @include responsive(phablet) {
      box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
    }
  }
}
.section {
  padding: 100px 0;
  .title-section {
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  .subtitle-section {
    font-size: 1.6em;
    text-align: center;
  }
  .description-section {
    text-align: justify;
    max-width: 600px;
  }
  &.dark-section {
    background: $color-black;
    color: #fff;
    text-align: center;
    h3 {
      font-size: 2.2em;
      text-align: center;
      padding-bottom: 30px;
    }
    p {
      max-width: 500px;
    }
  }
  &.gray-section {
    background-color: #f5f5f5;
  }
  &.red-section {
    padding: $padding * 2 0 !important;
    background-color: $color-red;
    color: $color-white;
    h2 {
      font-size: 1.2em;
      line-height: 1.5em;
    }
  }
  @include responsive(phablet) {
    .title-section {
      font-size: 2.4em;
    }
    .subtitle-section {
      font-size: 2em;
      padding: $padding 30px;
    }
    .description-section {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.blue-square {
  background: $color-blue;
  padding: 35px;
  margin: 30px 15px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  .icon {
    padding: 5px 15px;
    i {
      color: $color-white;
      font-size: 1.5em;
    }
  }
  header {
    color: $color-white;
    font-size: 1.75em;
  }
  p {
    text-align: left;
    font-size: 1em;
    color: $color-white;
    display: flex;
    align-items: center;
  }
  &:hover {
    background-color: rgba($color-blue, 0.9);
    transform: scale(1.02);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @include responsive(phablet) {
    min-height: 250px !important;
  }
}

.parallax {
  background-image: url(../images/parallax.png);
  background-attachment: fixed;
  height: 250px;
  position: relative;
  z-index: 0;
  animation: 300s para infinite linear;
  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
  }
  .content-parallax {
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $color-white;
    z-index: 1;
    h3 {
      font-size: 1.75em;
      margin-bottom: 15px;
    }
    p {
      text-align: center;
      font-size: 1.2em;
    }
  }
  @include responsive(phablet) {
    height: 500px;
    .content-parallax {
      text-align: center;
      h3 {
        font-size: 2.75em;
      }
      p {
        font-size: 2.2em;
      }
    }
  }
}

@keyframes para {
  100% {
    background-position: -10000px 0;
  }
}

@keyframes jump {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.content-team {
  margin-top: 30px;
  .content-image {
    background-size: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &.tutor-1 {
      background: url(../images/tutor-1.jpg);
    }
    &.tutor-2 {
      background: url(../images/tutor-2.jpg);
    }
    &:hover {
      transform: scale(1.08);
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25),
        0px 3px 5px rgba(0, 0, 0, 0.22);
    }
  }
  .content-description {
    padding: $padding * 2;
    h3 {
      color: $color-black-titles;
      font-weight: bold;
      font-size: 1.2em;
      line-height: 1.5em;
    }
    span {
      color: $color-black-titles;
      font-weight: bold;
      font-size: 0.8em;
    }
    p {
      color: #6a6a6a;
      font-size: 1em;
      margin-top: $padding * 2;
      padding: 0 $padding;
    }
    @include responsive(phablet) {
      p {
        padding: 0 $padding * 2;
      }
    }
  }
}

.content-course {
  .title-day {
    font-size: 1.2em;
    font-weight: bold;
  }
  .content-items-course {
    padding: $padding $padding * 2;
    .text-activity {
      font-size: 1em;
      line-height: 1.4em;
      position: relative;
      margin-top: $padding;
      &::before {
        content: url(../images/icons/dot.png);
        position: absolute;
        left: -30px;
        top: 5px;
      }
    }
    .hour {
      font-size: 1em;
      color: $color-blue;
    }
  }
  .module {
    font-size: 1.2em;
    font-weight: bold;
    margin: $padding * 2 0;
    text-decoration: underline;
    text-align: left;
  }
  @include responsive(phablet) {
    .title-day {
      font-size: 1.4em;
      margin: $padding 0;
    }
    .content-items-course {
      padding: $padding * 2 $padding * 2;
      .text-activity {
        font-size: 1.2em;
      }
      .hour {
        color: $color-blue;
        margin-top: $padding * 1.3;
        font-weight: bold;
      }
    }
  }
}

.white-square {
  background: $color-white;
  padding: 35px;
  margin: 30px 15px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  h3 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
  }
  p {
    font-size: 1em;
    color: $color-black;
    text-align: center;
  }
  &:hover {
    background-color: rgba($color-white, 0.9);
    transform: scale(1.02);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @include responsive(phablet) {
  }
}

.more-info {
  text-align: center;
  padding-top: $padding;
  h5,
  p {
    color: $color-white;
  }
  h5 {
    padding-bottom: $padding/2;
    position: relative;
    &::before {
      content: url(../images/icons/icon-whatsapp.png);
      position: absolute;
      transform: translateX(-40px);
    }
  }
}
footer {
  padding: $padding * 2 0 $padding 0;
  .logo {
    height: 80px;
    width: auto;
  }
  h5 {
    color: $color-black-titles;
    font-size: 0.9em;
    margin: $padding 0;
  }
  .logo-poli {
    width: 200px;
    height: auto;
  }
  .text-copyright {
    margin-top: $padding * 2;
    h4 {
      font-weight: bold;
      color: $color-black-titles;
      font-size: 1.2em;
    }
    a {
      color: $color-blue;
      font-size: 1em;
      font-weight: bold;
    }
  }
  @include responsive(phablet) {
    h5 {
      margin: 0 0 $padding 0;
    }
  }
}
