.banner{
  background: url(../images/banner.png) center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-bottom: 30px;
  @include responsive(phablet){
    height: 60vh;
  }
  .content-banner{
    height: 100vh; 
    margin: 0;
    @include responsive(phablet){
      height: 60vh;
    }
  }
  .description-banner{
    padding: 15px;
  }
  h2{
    color: $color-black-titles;
    font-family: "Segoe UI";
    font-size: 54px;
    padding-bottom: 30px;
  }
  p{
    line-height: 1.6em;
    font-size: 15px;
    color: #3e3e3e;
    letter-spacing: normal;
  }
  .content-form{
    background-color: $color-black-titles;
    height: auto;
    width: 100%;
    margin: 0;
    @include responsive(phablet) {
      height: 60vh;
    }
    form{
      padding: 15px 5%;
      margin: 0;
      h4{
        color: $color-white;
        text-align: center;
        font-size: 1.25em;
        padding-bottom: 30px;
      }
      input{
        width: 100%;
        border: none;
        padding: 12px;
        margin: 5px 0;
        outline: none;
      }
      .content-btn{
        margin: 15px 0 5px 0;
      }
      @include responsive(phablet) {
        padding: 0 10%;
      }
    }
  }
}
.section{
  padding: 50px 0;
  .title-section{
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 30px;
  }
  .description-section{
    text-align: justify;
  }
  @include responsive(phablet) {
    .title-section{
      font-size: 2.625em;
    }
    .description-section{
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.blue-square{
  background: #0090de;
  padding: 35px;
  margin: 30px 15px;
  .icon{
    padding: 5px 15px;
    i{
      color: $color-white;
      font-size: 1.5em;
    }
  }
  header{
    color: $color-white;
    font-size: 1.75em;
  }
  p{
    text-align: left;
    font-size: 1em;
    color: $color-white;
    padding: 15px 0 0 0;
  }
}

.parallax{
  background: url(../images/parallax.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  position: relative;
  z-index: 0;
  &::after{
    content: "";
    background-color: rgba($color-black, 0.6);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
  }
  .content-parallax{
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $color-white;
    z-index: 1;
    h3{
      font-size: 3.75em;
      margin-bottom: 15px;
    }
    p{
      font-size: 2em;
    }
  }
}