doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		title Curso it matters


		meta(name="application-name", content="Curso it matters")
		meta(name="description", content="Aprender técnicamente en que consiste la impresión 3D y los pasos del proceso de fabricación mediante impresión con filamento fundido (FFF) para el desarrollo de productos. Desde el diseño hasta los parámetros fundamentales para la impresión.")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")

		meta(name="author", content="Fernando Vega")

		meta(property="og:title", content="Curso it matters")
		meta(property="og:image", content="./images/logo.png")
		meta(property="og:description", content="Aprender técnicamente en que consiste la impresión 3D y los pasos del proceso de fabricación mediante impresión con filamento fundido (FFF) para el desarrollo de productos. Desde el diseño hasta los parámetros fundamentales para la impresión.")

		link(href="./images/favicon.png", rel="shortcut icon" type="image/x-icon")
		link(href="./images/favicon.png", rel="icon" type="image/x-icon")

		link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
		link( href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
		link(href="./vendor/flexboxgrid.min.css" rel="stylesheet" )
		link(href="css/main.css", rel="stylesheet")
			
	body

		#page-container
			block content


		script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		script(src="./js/main.js")
