extends _base

block content
  .banner
    .limiter-content
      .row.middle-xs.content-banner
        .col-xs-12.col-sm-7.description-banner
          h2 Servicio de contaduria
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sed voluptatum totam laudantium? Dicta cupiditate odit placeat facere eum, quasi, sequi laborum maiores corrupti distinctio in doloremque, nobis incidunt molestiae.
        .col-xs-12.col-sm-5
          .row.middle-xs.content-form
            form(action="").row.col-xs-12
              h4.col-xs-12 Envíanos tus datos para optener una mejor información
              input.col-xs-12(type="text", placeholder="Nombre")
              input.col-xs-12(type="email", placeholder="Correo")
              input.col-xs-12(type="phone", placeholder="Teléfono")
              .row.center-xs.col-xs-12.content-btn
                button(type="submit").btn.btn-blue ENVIAR
  .limiter-content
    .row.section
      .col-xs-12
        h2.title-section Conocenos
        p.description-section Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aspernatur quod est, quis, velit voluptas quas iusto tempora consequatur amet dolorem labore saepe nisi repellendus ex. Dolores dolor minus eligendi!
      .col-xs-12.col-sm-6
        .blue-square.row
          .col-xs-12.col-sm-2.row.center-xs
            .icon-header-wrapper
              .icon
                i.fa.fa-heartbeat
          .col-xs-12.col-sm-10
            header
              h4 Una empresa fiscalmente sana es más rentable
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni vitae in voluptate consectetur provident, 
      .col-xs-12.col-sm-6
        .blue-square.row
          .col-xs-12.col-sm-2.row.center-xs
            .icon-header-wrapper
              .icon
                i.fa.fa-check
          .col-xs-12.col-sm-10
            header
              h4 Olvidate de pagar de más en  deducciones
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi aut maiores voluptatibus harum adipisci animi laboriosam ipsam labore eos.
  .parallax
    .limiter-content.content-parallax
      h3 ¿Necesitas asesoría?
      p Comunicate con nosotros al siguiente número
      p +(57) 311 555 6666
  .limiter-content
    .section