extends _base

block content
  .banner
    .limiter-content
      .row.middle-xs.between-xs.content-banner
        .col-xs-12.col-sm-7.description-banner
          img(src="./images/logo-banner.png", alt="It matters")
          a(href="https://wa.me/+573105825336").more-info
            h5 ¿NECESITAS INFORMACIÓN?
            p * 310 582 5336
        .col-xs-12.col-sm-4
          .row.middle-xs.content-form
            form(action="").row.col-xs-12
              h4.col-xs-12 Envíanos tus datos para optener una mejor
                i  información
              .col-xs-12
                input.effect-input(type="text", placeholder="Nombre")
              .col-xs-12
                input.effect-input(type="email", placeholder="Correo")
              .col-xs-12
                input.effect-input(type="phone", placeholder="Teléfono")
              .row.center-xs.col-xs-12.content-btn
                button(type="submit").btn.btn-blue ENVIAR
  .limiter-content
    .row.section
      .col-xs-12
        h2.title-section Conocenos
        p.description-section Somos una empresa especializada en manufactura aditiva que brinda materiales, equipamiento para tecnología FDM y educación en el uso de impresion 3D.
      .col-xs-12.col-sm-6
        .blue-square.row
          .col-xs-12.col-sm-2.row.center-xs.middle-xs
            .icon-header-wrapper
              .icon
                i.fa.fa-star
          p.col-xs-12.col-sm-10 No solo ponemos en tus manos materiales innovadores, estéticos y funcionales para maerializar tu ser creativo y libre, sino que adempas queremos contarle al mundo sobre las posibilidades de la impresión 3D en una visión de futuro basada en la "economía circular", donde los materiales son reusados y valorados, jamás tratados como desechos. 
      .col-xs-12.col-sm-6
        .blue-square.row
          .col-xs-12.col-sm-2.row.center-xs.middle-xs
            .icon-header-wrapper
              .icon
                i.fa.fa-graduation-cap
          p.col-xs-12.col-sm-10 Creamos un futuro sin límites, gracias al uso recional, inteligente y creativo de los materiales y sobre todo gracias a una educación para el ser creativo y empoderado de su realidad, un ser que transforma para el beneficio de todos.
  .parallax
    .limiter-content.content-parallax
      h3 ¿Necesitas asesoría?
      p Comunicate con nosotros al siguiente número
      p +(57) 311 555 6666
  .limiter-content
    .section