extends _base

block content
  .banner
    .limiter-content
      .row.middle-xs.between-xs.content-banner
        .col-xs-12.col-sm-7.description-banner
          img(src="./images/logo-banner.png", alt="It matters")
          a(href="https://wa.me/+573105825336").more-info
            h5 ¿NECESITAS INFORMACIÓN?
            p * 310 582 5336
        .col-xs-12.col-sm-4
          .row.middle-xs.content-form
            form(action="").row.col-xs-12
              h4.col-xs-12 Envíanos tus datos para optener una mejor
                i  información
              .col-xs-12
                input.effect-input(type="text", placeholder="Nombre")
              .col-xs-12
                input.effect-input(type="email", placeholder="Correo")
              .col-xs-12
                input.effect-input(type="phone", placeholder="Teléfono")
              .row.center-xs.col-xs-12.content-btn
                button(type="submit").btn.btn-blue ENVIAR
  .limiter-content
    .row.section
      .row.col-xs-12.center-xs
        h2.col-xs-12.title-section Conocenos
        p.col-xs-12.description-section Somos una empresa especializada en manufactura aditiva que brinda materiales, equipamiento para tecnología FDM y educación en el uso de impresion 3D.
      .col-xs-12.col-sm-6
        .blue-square.row
          .col-xs-12.col-sm-2.row.center-xs.middle-xs
            .icon-header-wrapper
              .icon
                i.fa.fa-star
          p.col-xs-12.col-sm-10 No solo ponemos en tus manos materiales innovadores, estéticos y funcionales para maerializar tu ser creativo y libre, sino que adempas queremos contarle al mundo sobre las posibilidades de la impresión 3D en una visión de futuro basada en la "economía circular", donde los materiales son reusados y valorados, jamás tratados como desechos. 
      .col-xs-12.col-sm-6
        .blue-square.row
          .col-xs-12.col-sm-2.row.center-xs.middle-xs
            .icon-header-wrapper
              .icon
                i.fa.fa-graduation-cap
          p.col-xs-12.col-sm-10 Creamos un futuro sin límites, gracias al uso recional, inteligente y creativo de los materiales y sobre todo gracias a una educación para el ser creativo y empoderado de su realidad, un ser que transforma para el beneficio de todos.
  .parallax
    .limiter-content.content-parallax
      h3 Curso-Taller
      p Introducción a la tecnología de impresíon 3D por FFF
      p (Fused Filament Fabrication)
  .section.dark-section
    .limiter-content
      p Aprenderás técnicamente en que cosiste la impresión 3D y los pasos del proceso de fabricación mediante impresión con filamento fundido (FFF) para el desarrollo de productos. Desde el diseño hasta los parámetros fundamentales para la impresión.
  .section.gray-section
    .limiter-content.row
      .col-xs-12
        h2.title-section Tutores
      .row.top-xs.content-team
        .row.col-xs-12.col-sm-6.center-xs
          .content-image.tutor-1
          .content-description.center-xs
            h3 Daniela Echeverri Cárdenas
            span Ingeniera de diseño de producto 
              br
              | Universidad EAFIT.
            br
            p Experta en diseño e impresión 3D enfocada al desarrollo de productos innovadores. Ha sido gestora de proyectos de la línea de ingeniería y diseño de la Red Tecnoparque en Cali. Intructora de cursos titulados y complementarios en el área de mecatrónica del Centro de Diseño Tecnológico Industria del SENA (CDTI). Fue ganadora de primer lugar en categoría de movilidad eléctrica, en los prémios "Proyectos Final". Universidad EAFIT, Medellín, Diciembre, 2011. Fue expositora de la Maker Faire - EU Edition. Roma, Italia. Octubre 2016.
        .row.col-xs-12.col-sm-6.center-xs
          .content-image.tutor-2
          .content-description.center-xs
            h3 Fernando Luna Vera
            span Quimico, Universidad Nacional de Colombia
              br
              | Doctor de química de Virginia Commonwealth University(Virginia, USA)
            br
            p Experto en materiales polimétricos y desarrollo de materiales compuestos a partir de polímeros. Desarrollador y creador de la marca de materiales para impresión 3D, ItMatters. Ha sido director de protectos de innovación como líder de la investigación del Centro Nacional de Asistencia Técnica a la industria (ASTIN), docente universitario de la universidad ICESI. Más de 15 años de experiencia en el desarrollo de proyectos de innovación.

